*.o
*.a
*.mod
*.zip
*.exe
*.em
*.cmd
*.aux
*.dvi
*.log
*.dat
*.plt
*.toc
*.ocu
*~
*.txt
src/pmain1.F90
.*
crfemo-1400-leftcorner.pdf
examples/macros/cp-cumg2.pdf
examples/macros/cp-laves.pdf
examples/macros/hliq1.pdf
examples/macros/map17-all.png
examples/macros/map18f2.png
examples/macros/square.pdf
examples/macros/step1.pdf
README-old.md
examples/macros/step9UAB.plt
square.pdf
step1.pdf
