*.o
*.a
*.mod
*.zip
*.exe
*.em
*.cmd
*.aux
*.dvi
*.log
*.dat
*.plt
*.toc
*.ocu
*~
*.txt
.*
README-old.md
examples/macros/crfemo-1400-leftcorner.pdf
examples/macros/square.pdf
examples/macros/step9UAB.plt
build